.tb-btn {
  margin-top: 250px;
  padding: 15px 32px;
  border-radius: 12px;
  border-color: black;

  background-color: rgb(55, 55, 224);
  color: black;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  font-size: 16px;
}

.home-container {
  display: flex;
  justify-content: center;
  border: 7px solid rgb(55, 55, 224);
  width: 100%;
  height: 100%;

  background-image: url(../images/Background/wave.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
