.nav-wrapper {
  display: flex;
  min-height: 15vh;
  background: black;
  color: white;
  align-items: center;
  justify-content: space-around;
  font-family: Roboto, sans-serif;
}
.logo-wrapper {
  display: flex;
}

.logo-wrapper {
  width: 180px;
  height: 75px;
}
.logo-wrapper img {
  width: 100%;
  height: auto;
  margin-top: 10px;
}

h3 {
  margin-left: 9px;
}
.cart-wrapper {
  display: flex;
  width: 50px;
  justify-content: space-between;
}
